a{
    background: black;
    width: 150px;
    height: 150px;
    animation-name: Circle;
    animation-duration: 3s;
    display: block;
    padding: 20px 20px;
    border-radius: 100px;
    margin: 0 auto;
}
@keyframes Circle{
    0% {transform: scale(0); opacity: 0; }
    100% {transform: scale(1); opacity: 1;}
}